<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cn.plugins.extrainfo" version="0.1">

    <name>ExtraInfo</name>
    <description>Cordova Plugin</description>

    <js-module src="www/ExtraInfo.js" name="ExtraInfo">
        <clobbers target="cordova.plugins.extraInfo"/>
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExtraInfo">
                <param name="android-package" value="cn.plugins.extrainfo.ExtraInfo"/>
            </feature>
        </config-file>

        <source-file src="src/android/ExtraInfo.java" target-dir="src/cn/plugins/extrainfo"/>

    </platform>
</plugin>