/* Empty. Add your own CSS if you like */

/**********************************************************Common******************************************************/

a {
    color: #666;
}
a:hover,
a:focus {
    color: #666;
    text-decoration: none;
}

/**********************************************************Common******************************************************/

/*********************************************************home.html****************************************************/

.tech-container {
    display: block;
    margin: 0;
    text-align: center;
}

.tech {
    padding-top: 15px;
    padding-bottom: 15px;
}
.tech a p {
    margin: 5px 0 0 0;
}

.tech-img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-clip: padding-box;
    padding: 2px;
}
.activated .tech-img {
    box-shadow: 0px 0px 15px #1fa0d1;
}

/*********************************************************home.html****************************************************/

/*****************************************************inAppBrowser.html************************************************/

.search-header {
    height: 52px;
}
.search-header .item-input {
    padding: 4px 2px 3px 16px;
}
.search-header .item-button-right {
    padding-right: 65px;
}

.search-content {
    top: 98px;
}

/*****************************************************inAppBrowser.html************************************************/