/* Empty. Add your own CSS if you like */

/**********************************************************Common******************************************************/

a {
    color: #666;
}
a:hover,
a:focus {
    color: #666;
    text-decoration: none;
}

/**********************************************************Common******************************************************/

/*********************************************************home.html****************************************************/

.tech-container {
    display: block;
    margin: 0;
    text-align: center;
}

.tech {
    padding-top: 15px;
    padding-bottom: 15px;
}
.tech a p {
    margin: 5px 0 0 0;
}

/*********************************************************home.html****************************************************/